.section-header {
  h2.section-heading {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
    overflow-wrap: anywhere;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 15px;
    text-transform: none;
    @include serif-font;
  }
  h3.section-subheading-low-margin {
    margin-bottom: 15px;
  }
  h2.section-heading-large-top-margin {
    margin-top: 45px;
  }
  h2.section-heading-smaller-text {
    font-size: 25px;
  }
  h3.section-subheading-mute-fixed {
    color: #e8e8e8 !important;
  }
  h2.section-heading-white {
    color: white;
  }
}
@media (min-width: 992px) {
  .section-header {
    h2.section-heading {
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
      overflow-wrap: anywhere;
    }
  }
}
